
<%= form_for(Quote.new) do |f| %> 
  	<%= f.label :company_name %>
   	<%= f.text_field :company_name %>

    <%= f.submit "send quote", class: "btn btn-default"%> 
<% end %>


<section id="quote-form">
<div class="container">
    <div class="heading-title heading-dotted text-center">
        <h2>QUOTE <span>FORM</span></h2>
    </div>
    <!-- /Title -->
    <!-- Quote Form -->
    <form id="Complete_form" enctype="multipart/form-data">
        <div class="container form">
            <label for="building-type">Building Type</label> <!-- Building Type Selector -->
            <select id="building-type" class="custom-select col-md-12">
                <option value="select" selected>--Select--</option>
                <option id="residential" value="residential">Residential</option>
                <option id="commercial" value="commercial">Commercial</option>
                <option id="corporate" value="corporate">Corporate</option>
                <option id="hybrid" value="hybrid">Hybrid</option>
            </select>
            <!-- Fields -->
            <div class="form row">
                <input type="hidden" value="contact_send">
                <div id="number-of-apartments" class="col-md-4" style="display: none;">
                    <label for="quantity">NUMBER OF APARTMENTS</label>
                    <input required type="number" id="quantity" class="form-control" min="1" max="1000">
                </div>
                <div id="number-of-floors" class="col-md-4" style="display: none;">
                    <label>NUMBER OF FLOORS</label>
                    <input required type="number" class="form-control" min="0" max="1000">
                </div>
                <div id="number-of-basements" class="col-md-4" style="display: none;">
                    <label>NUMBER OF BASEMENTS</label>
                    <input required type="number" class="form-control" min="0" max="1000">
                </div>
                <div id="number-of-companies" class="col-md-4" style="display: none;">
                    <label>NUMBER OF COMPANIES</label>
                    <input required type="number" class="form-control" min="0" max="1000">
                </div>
                <div id="number-of-parking-spots" class="col-md-4" style="display: none;">
                    <label>NUMBER OF PARKINGS</label>
                    <input required type="number" class="form-control" min="0" max="1000">
                </div>
                <div id="number-of-elevators" class="col-md-4" style="display: none;">
                    <label>NUMBER OF ELEVATORS</label>
                    <input required type="number" class="form-control" min="0" max="1000">
                </div>
                <div id="number-of-corporations" class="col-md-4" style="display: none;">
                    <label>NUMBER CORPORATIONS</label>
                    <input required type="number" class="form-control" min="0" max="1000">
                </div>
                <div id="maximum-occupancy" class="col-md-4" style="display: none;">
                    <label>MAXIMUM OCCUPANCY PER FLOOR</label>
                    <input required type="number" class="form-control" min="0" max="10000">
                </div>
                <div id="business-hours" class="col-md-4" style="display: none;">
                    <label>HOURS OF ACTIVITY</label>
                    <input required type="number" class="form-control" min="0" max="24">
                </div>
            </div>
        </div>
</div>
<!-- /Fields -->
<!-- Product Line-->
<div>
    <div id="package" class="container col-md-4">
        <label>PRODUCT LINE</label>
        <div class="form-check form-check-inline col-md-1">
            <input class="form-check-input" type="radio" name="radiobutton" id="standard_input"
                value="standard">
            <label class="form-check-label" for="standard">Standard</label>
        </div>
        <div class="form-check form-check-inline col-md-1">
            <input class="form-check-input" type="radio" name="radiobutton" id="premium_input"
                value="premium">
            <label class="form-check-label" for="premium">Premium</label>
        </div>
        <div class="form-check form-check-inline col-md-1">
            <input class="form-check-input" type="radio" name="radiobutton" id="excelium_input"
                value="excelium">
            <label class="form-check-label" for="premium">Excelium</label>
        </div>
    </div>
    <!-- /Product Line -->
    <!-- Prices -->
    <div class="container form col-md-4">
        <div id="elevator-amount" class="form-group col-md-4" style="display:none">
            <label>NUMBER OF ELEVATORS</label>
            <input class="form-control" type="number" readonly>
        </div>
        <div id="elevator-unit-price" class="form-group col-md-4" style="display:none">
            <label>UNIT PRICE</label>
            <input class="form-control" type="text" readonly>
        </div>
        <div id="elevator-total-price" class="form-group col-md-4" style="display:none">
            <label>TOTAL ELEVATOR PRICE</label>
            <input class="form-control" type="text" readonly>
        </div>
    </div>
</div>
<div class="container form col-md-4">
    <div id="installation-fees" class="col-md-4" style="display:none">
        <label>INSTALLATION</label>
        <input class="form-control" type="text" readonly>
    </div>
    <div id="final-price" class="col-md-4" style="display:none">
        <label>FINAL PRICE</label>
        <input class="form-control" type="" readonly>
    </div>
</div>
