			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top">
							<img src="/assets/RE/re_logo.png" alt="" />
						</a>

						<div class="navbar-collapse collapse float-right nav-main-collapse">
							<nav class="nav-main">

								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a id="home-nav" class="scrollTo" href="#top">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a id="services-nav" class="dropdown-toggle" data-toggle="dropdown"  href="#services">
											SERVICES
										</a>
										<ul class="dropdown-menu">
											<li class="dropdown-item"><a href="residential.html">Residential Buildings</a></li>
											<li class="dropdown-item"><a href="commercial.html">Commercial Buildings</a></li>
										  </ul>
									</li>
									<li><!-- PORTFOLIO -->
										<a id="porfolio-nav" href="#porfolio">
											PORTFOLIO
										</a>
										
									</li>
									<li><!-- NEWS -->
										<a id="news-nav" href="#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a id="clients-nav" href="#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a id="contact-nav" href="#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>