<h1>Home#index</h1>
<p>This is the temporary index, for testing purposes.</p>

<% if current_user %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% if current_user.admin || current_user.employee%>
<a href=<%= "admin" %>>Employees section</a>
<% end %>
<% else %>
<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign in', new_user_session_path %>
<% end %>