<h1>Home#index</h1>
<p>This is the temporary index, for testing purposes.</p>

<% if current_user %>
<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<% if current_user.admin%>
<a href=<%= "admin" %>>Employees section</a>
<% end %>
<% else %>
<%= link_to 'Sign up', new_user_registration_path %>
<%= link_to 'Sign in', new_user_session_path %>
<% end %>


 			
			<!-- REVOLUTION SLIDER -->
			<div class="slider fullwidthbanner-container roundedcorners">
				
				<div id="slider" class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" 
							data-slotamount="7" 
							data-masterspeed="600"  
							data-saveperformance="off"  
							data-title="Rocket Elevators">
							<!-- MAIN IMAGE -->
							<!-- 1st slide-->
							<img src="/assets/rlogo/slide1.jpeg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="0"
								data-y="150" 
								data-speed="400"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Rise and Touch the Sky
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="0"
								data-y="250" 
								data-speed="500"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="600"

								style="z-index: 3; font-size:30px; color:#fff; font-weight:300; text-shadow:none;">
									Rocket Elevators is your solution, <br />
									our team is the best in this field.
							</div>

							<div class="tp-caption tp-fade"
								data-x="0"
								data-y="20" 
								data-speed="300"
								data-start="800"
								data-easing="Power3.easeInOut"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="300"
								style="z-index: 4;">
									<img src="\assets\rlogo\slidelogo.png" alt="">
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-red btn-lg" href="#services">OUR SERVICES &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="250"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-red btn-lg" href="quote.html">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE  -->
						<li data-transition="parallaxtotop"
							data-slotamount="7" 
							data-masterspeed="300"  
							data-saveperformance="off" 
							data-title="Residential">
							<!-- MAIN IMAGE -->
							<!-- 2nd slide-->
							<img src="/assets/rlogo/slide2.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="700"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Adapting homes for you  <br />
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="190" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									If you dream of having a new elevator in your home, <br />
									our team is the best in this field.
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-red btn-lg" href="residential.html">Residential Services &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>
							<!-- quotes not needed on this slide>?????????
							<div class="tp-caption sfb tp-resizeme"
								data-x="250"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-red btn-lg" href="#">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>-->
						</li>

						<!-- SLIDE  -->
						<li data-transition="parallaxtotop" 
							data-slotamount="7" 
							data-masterspeed="300"  
							data-saveperformance="off" 
							data-title="Corporate">
							
							<!-- MAIN IMAGE -->
							<!-- 3rd slide-->
							<img src="/assets/rlogo/slide3.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
			
							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="500"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="700"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Working to help your company <br />
									Effeciency is our goal.
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="300" 
								data-speed="500"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; font-size:20px; color:#fff; font-weight:300; text-shadow:none;">
									Lets us look at all the option available for your buildings, <br />
									Small or large we do the job rigth.</br>
									And thus for over 40 years.
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 4; max-width: auto;">
									<a class="btn btn-red btn-lg" href="commercial.html">Corporate and Commercial Services &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

							<!-- quotes not needed on the slide
							<div class="tp-caption sfb tp-resizeme"
								data-x="250"
								data-y="410" 
								data-speed="500"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 6; max-width: auto; max-height: auto; white-space: nowrap;">
									<a class="btn btn-red btn-lg" href="#">GET A QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
							</div>-->
						</li>

					</ul>

				</div>
			</div>  
<!-- 1px line separator -->
			<hr class="m-0" />

			<!-- CONTACT US RIBBON BLUE -->
			<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30 ">
					Did Rocket Elevators convinced you ? 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>

			<!-- Services -->
			<section id="services">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<a class="image-hover lightbox" href="" style="cursor: none;">
								<span class="image-hover-icon image-hover-dark">
								</span>
								<img class="img-fluid" src="\assets\rlogo\service1.jpg" alt="img"/>
							</a>
							<h3 class="mt-10 text-danger text-center">Awards and projects</h3>
							<p class="text-justify">
								Since 1976, we have been recognized for numerous industry and
								project awards, including acknowledgement in corporate
								leadership, health and safety, and project excellence.
							</p>
							<br /><br />
							<center>
								<a href="https://www.elevatoruk.com/about-us/blog/2019-elevator-awards-winners-announced/" class="btn btn-danger mt-10">2019 AWARDS</a>
							</center>
						</div>
						
						<div class="col-sm-4">
							<a class="image-hover lightbox" href=""style="cursor: none;">
								<span class="image-hover-icon image-hover-dark">
								</span>
								<img
									class="img-fluid"
									src="\assets\rlogo\service2.jpg"
									alt="img"
								/>
							</a>
							<h3 class="mt-10 text-danger text-center">
								Residential Solutions
							</h3>
							<p class="text-justify">
								Available in standard or custom sizes, our products are flexible
								and will meet your business needs. Can be installed in a
								building under construction or already existing, our
								installations will meet the standards and requirements in force.
							</p>
							<br />
							<center>
								<a href="residential.html" class="btn btn-danger mt-10">Learn more</a>
							</center>
						</div>
						<div class="col-sm-4">
							<a class="image-hover lightbox" href=""style="cursor: none;">
								<span class="image-hover-icon image-hover-dark">
								</span>
								<img
									class="img-fluid"
									src="\assets\rlogo\service3.jpg"
									alt="img"
								/>
							</a>
							<h3 class="mt-10 text-danger text-center">
								Commercial Solutions
							</h3>
							<p class="text-justify">
								Residential elevators are our specialty. Our elevators are the
								best on the market. We are proud of our company and our
								customers. Whether you are an elevator owner, builder, architect
								or seller, contact us to find out how Rocket Elevators and their
								products can exceed your expectations.
							</p>
							<center>
								<a href="commercial.html" class="btn btn-danger mt-10">Learn more</a>
							</center>
						</div>
					</div>

				</div>
<!-- 1px line separator -->
			<hr class="m-0" />

			<!-- CONTACT US RIBBON BLUE -->
			<a href="#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30 ">
					Did Rocket Elevators convinced you ? 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>

			<!-- Services -->
			<section id="services">
				<div class="container">
					<div class="row">
						<div class="col-sm-4">
							<a class="image-hover lightbox" href="" style="cursor: none;">
								<span class="image-hover-icon image-hover-dark">
								</span>
								<img class="img-fluid" src="\assets\rlogo\service1.jpg" alt="img"/>
							</a>
							<h3 class="mt-10 text-danger text-center">Awards and projects</h3>
							<p class="text-justify">
								Since 1976, we have been recognized for numerous industry and
								project awards, including acknowledgement in corporate
								leadership, health and safety, and project excellence.
							</p>
							<br /><br />
							<center>
								<a href="https://www.elevatoruk.com/about-us/blog/2019-elevator-awards-winners-announced/" class="btn btn-danger mt-10">2019 AWARDS</a>
							</center>
						</div>
						
						<div class="col-sm-4">
							<a class="image-hover lightbox" href=""style="cursor: none;">
								<span class="image-hover-icon image-hover-dark">
								</span>
								<img
									class="img-fluid"
									src="\assets\rlogo\service2.jpg"
									alt="img"
								/>
							</a>
							<h3 class="mt-10 text-danger text-center">
								Residential Solutions
							</h3>
							<p class="text-justify">
								Available in standard or custom sizes, our products are flexible
								and will meet your business needs. Can be installed in a
								building under construction or already existing, our
								installations will meet the standards and requirements in force.
							</p>
							<br />
							<center>
								<a href="residential.html" class="btn btn-danger mt-10">Learn more</a>
							</center>
						</div>
						<div class="col-sm-4">
							<a class="image-hover lightbox" href=""style="cursor: none;">
								<span class="image-hover-icon image-hover-dark">
								</span>
								<img
									class="img-fluid"
									src="\assets\rlogo\service3.jpg"
									alt="img"
								/>
							</a>
							<h3 class="mt-10 text-danger text-center">
								Commercial Solutions
							</h3>
							<p class="text-justify">
								Residential elevators are our specialty. Our elevators are the
								best on the market. We are proud of our company and our
								customers. Whether you are an elevator owner, builder, architect
								or seller, contact us to find out how Rocket Elevators and their
								products can exceed your expectations.
							</p>
							<center>
								<a href="commercial.html" class="btn btn-danger mt-10">Learn more</a>
							</center>
						</div>
					</div>

				</div>
<!-- /item -->
							<div class="col-md-3 col-sm-3 mix awards residential commercial">

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
											</span>
										</span>
										<img class="img-fluid" src="/assets/rlogo/port66.jpg" width="600" height="399" alt="">
									</figure>
									<div class="item-box-desc">
										<h3>Leader in technology</h3>
										<ul class="list-inline categories m-0">
											<li><a>Newest technology in the field</a></li>
											<li><a href="#services">Awards</a></li>
										</ul>
									</div>
								</div>
							</div>

							<!-- /item -->
							<div class="col-md-3 col-sm-3 mix awards residential">

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
											</span>
										</span>
										<img class="img-fluid" src="/assets/rlogo/port77.jpg" width="600" height="399" alt="">
									</figure>
									<div class="item-box-desc">
										<h3>Design made to fit your home</h3>
										<ul class="list-inline categories m-0">
											<li><a>Many materials available</a></li>
											<li><a href="residential.html">Residential</a></li>
										</ul>
									</div>
								</div>
							</div>

							<!-- /item -->
							<div class="col-md-3 col-sm-3 mix commercial residential">

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
											</span>
										</span>
										<img class="img-fluid" src="/assets/rlogo/port88.jpg" width="600" height="399" alt="">
									</figure>
									<div class="item-box-desc">
										<h3>We do large and small elvators</h3>
										<ul class="list-inline categories m-0">
											<li><a>analog or digital display</a></li>
											<li><a href="commercial.html">Commercial</a></li>
										</ul>
									</div>
								</div>
							</div>

							<!-- /item -->
							<div class="col-md-3 col-sm-3 mix residential awards">

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
											</span>
										</span>
										<img class="img-fluid" src="/assets/rlogo/port99.jpg" width="600" height="399" alt="">
									</figure>
									<div class="item-box-desc">
										<h3>We services all elevators</h3>
										<ul class="list-inline categories m-0">
											<li><a>Old and new technology</a></li>
											<li><a href="residential.html">residential</a></li>
										</ul>
									</div>
								</div>
							</div>

							<!-- /item -->
							<div class="col-md-3 col-sm-3 mix commercial">

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner"></span>
										</span>
										<img class="img-fluid" src="/assets/rlogo/port1010.png" width="600" height="399" alt="">
									</figure>
									<div class="item-box-desc">
										<h3>Freight elevators also available</h3>
										<ul class="list-inline categories m-0">
											<li><a>For heavy lifting let us lend a hand</a></li>
											<li><a href="commercial.html">Commercial</a></li>
										</ul>
									</div>
								</div>
							</div>

							<!-- /item -->
							<div class="col-md-3 col-sm-3 mix awards residential commercial">

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
											</span>
										</span>
										<img class="img-fluid" src="/assets/rlogo/port1111.jpg" width="600" height="399" alt="">
									</figure>
									<div class="item-box-desc">
										<h3>Security access</h3>
										<ul class="list-inline categories m-0">
											<li><a>Many security options available</a></li>
											<li><a href="#services">Awards</a></li>
										</ul>
									</div>
								</div>
							</div>

							<!-- /item -->
							<div class="col-md-3 col-sm-3 mix awards residential commercial">

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">
											</span>
										</span>
										<img class="img-fluid" src="/assets/rlogo/port1212.jpg" width="600" height="399" alt="">
									</figure>
									<div class="item-box-desc">
										<h3>We carry more than people</h3>
										<ul class="list-inline categories m-0">
											<li><a>For heavy lifting, new technology</a></li>
											<li><a href="#services">Awards</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
				</div>
			</section>

			<!-- Rocket Elevators TEAM -->
			<section id="team" class="section-xs dark" style="background-image: url('/assets/rlogo/parallaxblue.jpg');">>
				<div class="container">
										
					<div class="owl-carousel text-center owl-testimonial m-0" 
					data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div class="testimonial">
							<figure>
								<img class="rounded" src="/assets/rlogo/ceo.jpg" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Great coach and assset for this program</p>
								<cite>
									Mathieu R. Lortie
									<span>CEO Rocket elevators</span>
								</cite>
							</div>
						</div>
						<div class="testimonial">
							<figure>
								<img class="rounded" src="/assets/rlogo/employee-of-the-month.jpg" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Junior Full Stack Developper in progress</br>Employee of the month</p>
								<cite>
									Jean Francois Taillefer
									<span>January 2021</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>

			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>

					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<div class="img-hover">
							<a href="https://www.buildings.com/articles/27517/3-rising-trends-watch-elevator-technology">
								<img class="img-fluid" src="/assets/rlogo/news1.jpg" alt="">
							</a>
							<h4 class="text-left mt-20"><a href="https://www.buildings.com/articles/27517/3-rising-trends-watch-elevator-technology">3 Rising Trends to Watch in Elevator Technology</a></h4>
							<p class="text-left">The TWIN elevator system, more common in Europe, is now a growing trend in the US. TWIN is an elevator system where two conventional elevators are put into the same shaft and act independently of each other. A device that monitors the distance between both elevators keeps them from colliding or bumping.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.thyssenkrupp-elevator.com/en/newsroom/press-releases-114446.html">
								<img class="img-fluid" src="/assets/rlogo/news2.jpg" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="https://www.thyssenkrupp-elevator.com/en/newsroom/press-releases-114446.html">MAX in every new elevator and escalator</a></h4>
							<p class="text-left">thyssenkrupp Elevator integrates its cloud-based digital platform MAX into all kinds of new elevator and escalator systems. With this significant step towards digitalization of its products and services, the company drives the industry by making digitally enhanced products and services the new normal – increasing service quality, creating transparency and giving customers a peace of mind.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>

							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.arcweb.com/blog/smart-elevators-six-major-trends-2019">
								<img class="img-fluid" src="/assets/rlogo/news3.jpg" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="https://www.arcweb.com/blog/smart-elevators-six-major-trends-2019">Smart Elevator technology is on the rise! </a></h4>
							<p class="text-left">Over 12 million elevators are in operation around the globe, which move over a billion people each day.  This makes elevators the most frequently used mode of transport in the world – well ahead of cars, planes, or any other mode of transport.  Nowadays, elevators in a connected smart building are equipped with smart elevator that incorporate advanced technologies that offer facilities with increased security, improved energy efficiency, and effective crowd management.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="http://www.mowreyelevator.com/industry-updates/recent-innovations-in-elevator-technology/">
								<img class="img-fluid" src="/assets/rlogo/news4.jpg" alt="">
							</a>

							<h4 class="text-left mt-20"><a href="http://www.mowreyelevator.com/industry-updates/recent-innovations-in-elevator-technology/">Recent Innovations in Elevator Technology</a></h4>
							<p class="text-left">Just like smart phones and TVs, elevators are getting pretty high-tech, prompting elevator manufacturers to make adjustments in speed and safety. What exactly is a smart elevator? When a passenger presses a button for the floor they wish to visit, an indicator directs them to a specific elevator that will handle the task the fastest.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.theguardian.com/cities/2014/aug/01/new-lift-technology-ultrarope-cities">
								<img class="img-fluid" src="/assets/rlogo/news5.jpg" alt="">
							</a>
							<h4 class="text-left mt-20"><a href="https://www.theguardian.com/cities/2014/aug/01/new-lift-technology-ultrarope-cities">The new lift technology that will let cities soar far higher</a></h4>
							<p class="text-left">When Frank Lloyd Wright sketched out his Mile High Skyscraper in 1956, it was four times taller than the Empire State Building, the tallest building at the time. Such was Wright’s faith in the technologies of modernity – foremost among them, steel frame construction and elevators – that he naturally presumed the challenges of this extreme height could be overcome.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
							</ul>
						</div>
						<div class="img-hover">
							<a href="https://www.popularmechanics.com/technology/infrastructure/a20986/the-hidden-science-of-elevators/">
								<img class="img-fluid" src="/assets/rlogo/news6.jpg" alt="">
							</a>
							<h4 class="text-left mt-20"><a href="https://www.popularmechanics.com/technology/infrastructure/a20986/the-hidden-science-of-elevators/">The Hidden Science of Elevators</a></h4>
							<p class="text-left">There really is a good reason the lift keeps rising away from you. And it’s not karmic payback for never returning your neighbor’s pruning shears. With every press of a button, we’ve given our elevators a doozy of a computational challenge. The elevator system must decide which car to send for you, and when. It must choose whether to go up from the fifth floor to collect those people on the seventh before coming down to the lobby to answer your call. It must consider who’s been waiting longer, and which of the many paths is the most efficient and least painful for everybody.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
							</ul>
						</div>
					</div>

				</div>
			</section>

			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">
					<div class="heading-title heading-dotted text-center">
						<h2 style="background-color: #F4F4F5;">Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
							<a>
								<img
									class="img-fluid"
									src="/assets/rlogo/client1.jpg"
									alt="client"									
								/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a >
								<img
									class="img-fluid"
									src="/assets/rlogo/client2.jpg"
									alt="client"									
								/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a >
								<img
									class="img-fluid"
									src="/assets/rlogo/client3.jpg"
									alt="client"									
								/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a >
								<img
									class="img-fluid"
									src="/assets/rlogo/client4.jpg"
									alt="client"									
								/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a >
								<img
									class="img-fluid"
									src="/assets/rlogo/client5.jpg"
									alt="client"									
								/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a >
								<img
									class="img-fluid"
									src="/assets/rlogo/client6.jpg"
									alt="client"									
								/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a >
								<img
									class="img-fluid"
									src="/assets/rlogo/client7.jpg"
									alt="client"									
								/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a >
								<img
									class="img-fluid"
									src="/assets/rlogo/client8.jpg"
									alt="client"									
								/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a >
								<img
									class="img-fluid"
									src="/assets/rlogo/client9.jpg"
									alt="client"									
								/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a >
								<img
									class="img-fluid"
									src="/assets/rlogo/client10.jpg"
									alt="client"									
								/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a >
								<img
									class="img-fluid"
									src="/assets/rlogo/client11.jpg"
									alt="client"									
								/>
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							<a >
								<img
									class="img-fluid"
									src="/assets/rlogo/client12.jpg"
									alt="client"									
								/>
							</a>
						</li>
					</ul>
				</div>
			</section>

<!-- CONTACT -->
<section id="contact">
    <div class="container">
        
        <div class="row">

            <!-- FORM -->
            <div class="col-md-9">

                <h3>Drop us a line so a<strong><em> customer relation officer </em></strong>can get in touch with you</h3>
    

                <!-- Alert Success -->
                <div id="alert_success" class="alert alert-success mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Thank You!</strong> Your message successfully sent!
                </div><!-- /Alert Success -->


                <!-- Alert Failed -->
                <div id="alert_failed" class="alert alert-danger mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>[SMTP] Error!</strong> Internal server error!
                </div><!-- /Alert Failed -->


                <!-- Alert Mandatory -->
                <div id="alert_mandatory" class="alert alert-danger mb-30">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Sorry!</strong> You need to complete all mandatory (*) fields!
                </div><!-- /Alert Mandatory -->

            <!-- form-->

                <form>
                    <fieldset>
                        <input type="hidden" name="action" value="contact_send" />

                        <div class="row">
                                <div class="col-md-4">
                                    <label for="name">Full Name </label>
                                    <input required type="text" value="" class="form-control" name="[name][required]" id="name">
                                </div>
                                <div class="col-md-4">
                                    <label for="email">E-mail Address </label>
                                    <input required type="email" value="" class="form-control" name="[email][required]" id="email">
                                </div>
                                <div class="col-md-4">
                                    <label for="phone">Phone</label>
                                    <input type="text" value="" class="form-control" name="[phone]" id="phone">
                                </div>
                        </div>
                        
                        <div class="row">
                                <div class="col-md-4">
                                    <label for="company_name">Business Name</label>
                                    <input required type="text" value="" class="form-control" name="[company_name][required]" id="compnay_name">
                                </div>

                                <div class="col-md-4">
                                    <label for="project_name">Project Name</label>
                                    <input type="text" value="" class="form-control" name="contact[phone]" id="project_name">
                                </div>

                                <div class="col-md-4">
                                    <label for="department">Department</label>
                                    <select class="form-control pointer" name="contact[department]" id="department">
                                        <option value="">--- Select ---</option>
                                        <option value="human_ressources">human ressources</option>
                                        <option value="residential">residential</option>
                                        <option value="corporate">corporate</option>
                                    </select>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-12">
                                    <label for="project_description">Project Description</label>
                                    <input type="text" value="" class="form-control" name="contact[phone]" id="project_description">
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-12">
                                    <label for="message">Message </label>
                                    <textarea required maxlength="10000" rows="8" class="form-control" name="[message]" id="message"></textarea>
                                </div>
                        </div>
                        <div class="row">
                                <div class="col-md-12">
                                    <label for="contact:attachment">File Attachment</label>

                                    <!-- custom file upload -->
                                    <input class="custom-file-upload" type="file" id="file" name="[attachment]" id="attachment" data-btn-text="Select a File" />
                                    <small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

                                </div>
                        </div>							
                        <div class="row">

                        <div class="col-md-12">
                            <button  onclick="myFunction1()" type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
                                <script>
                                    function myFunction1() {
                                        alert("Message sent");
                                        window.location.href = "index.html";
                                        }
                                </script>
                        </div>
                        
                    </div>

                    </fieldset>
                
                    
                </form>

            </div>
            <!-- /FORM -->


            <!-- INFO -->
            <div class="col-md-3">

                <h2>Visit Us</h2>
            
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2729.0429937848094!2d-71.28188348425029!3d46.84284354841593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cb897d0e1cafe3f%3A0x9863b2d992c71670!2sCodeBoxx!5e0!3m2!1sfr!2sca!4v1610650540451!5m2!1sfr!2sca" width="300" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                <hr />

                <p>
                    <span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 418-725 boulevard le bourgneuf, Quebec city, Quebec, Canada, G2J 0C4</span>
                    <span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:(418) 555-1234">(418) 555-1234</a></span>
                    <span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz </a></span>
                </p>

                <hr />

                <h4 class="font300">Business Hours</h4>
                <p>
                    <span class="block"><strong>Monday - Friday:</strong> 10am to 6pm</span>
                    <span class="block"><strong>Saturday:</strong> 10am to 2pm</span>
                    <span class="block"><strong>Sunday:</strong> Closed</span>
                </p>

            </div>
            <!-- /INFO -->

        </div>

    </div>
</section>		

</div>

<!-- SCROLL TO TOP -->
<a href="#" id="toTop"></a>

<!-- PRELOADER -->
<div id="preloader">
<div class="inner">
    <span class="loader"></span>
</div>
</div>

<!-- JAVASCRIPT FILES -->


<!-- REVOLUTION SLIDER -->
<script src="assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="assets/js/view/demo.revolution_slider.js"></script>

<!-- PAGELEVEL SCRIPTS -->


<!-- 
GMAP.JS 
http://hpneo.github.io/gmaps/
-->
<script src="//maps.google.com/maps/api/js?key=AIzaSyCqCn84CgZN6o1Xc3P4dM657HIxkX3jzPY"></script>
<%# # <script src="assets/plugins/gmaps.js"></script>
# <script>

# jQuery(document).ready(function(){

#     /**
#         @BASIC GOOGLE MAP
#     **/
#     var map2 = new GMaps({
#         div: '#map2',
#         lat: -12.043333,
#         lng: -77.028333,
#         scrollwheel: false
#     });

#     var marker = map2.addMarker({
#         lat: -12.043333,
#         lng: -77.028333,
#         title: 'Company, Inc.'
#     });

# });

# </script> %>