<a href="" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Why choose Rocket Elevators for your corporate offices ?</br> Have a detailed look how we operate. 
					
				</span>
			</a>

			<section>
				<div class="container">

					<div class="box-inner">
					
						<div class="timeline"><!-- .timeline-inverse = right position [left on RTL] -->

								<!-- ITEM -->
								<div class="timeline-item timeline-item-bordered">
									<!-- timeline entry -->
									<div class="timeline-entry rounded"><!-- .rounded = entry -->
										1st<span>step</span>
										<div class="timeline-vline"><!-- vertical line --></div>
									</div>
									<!-- /timeline entry -->

									<h2 class="uppercase bold fs-17">Evaluation of project</h2>
									<p>Meet our engineers and consultant, our team is dedicated to make your project come to life. We use new and innovating technology everyday. We can also refurbish old elevators with equipment keep their older looks.</p>
									<div class="row">
										<div class="col-md-6 col-sm-6">
										
											<label class="block">
												<span class="float-right">15%</span> 
												Evalution of project
											</label>
											<div class="progress progress-xxs">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%; min-width: 2em;"></div>
											</div>

										</div>
										<div class="col-md-6 col-sm-6">

											<label class="block">
												<span class="float-right">30%</span> 
												Design and Planning
											</label>
											<div class="progress progress-xxs">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%; min-width: 2em;"></div>
											</div>

										</div>
										<div class="col-md-6 col-sm-6">

											<label class="block">
												<span class="float-right">10%</span> 
												3D Rendering and printing
											</HPlabel>
											<div class="progress progress-xxs">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%; min-width: 2em;"></div>
											</div>

										</div>
										<div class="col-md-6 col-sm-6">

											<label class="block">
												<span class="float-right">45%</span> 
												Construction
											</label>
											<div class="progress progress-xxs">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%; min-width: 2em;"></div>
											</div>

										</div>
									</div>

								</div>
								<!-- /ITEM -->

								<!-- ITEM -->
								<div class="timeline-item timeline-item-bordered">
									<!-- timeline entry -->
									<div class="timeline-entry rounded"><!-- .rounded = entry -->
										2nd<span>atep</span>
										<div class="timeline-vline"><!-- vertical line --></div>
									</div>
									<!-- /timeline entry -->

									<h2 class="uppercase bold fs-17">Design and Planning</h2>
									<p>In this part of your project, you'll be working side by side with our architect and engineers. Through the design phase many option will be offered in terms of styles and looks for your elevator. Afterwards the engineeers will work out the details of the mechanics need and so on..</p>

								</div>
								<!-- /ITEM -->

								<!-- ITEM -->
								<div class="timeline-item timeline-item-bordered">
									<!-- timeline entry -->
									<div class="timeline-entry rounded"><!-- .rounded = entry -->
										3rd<span>step</span>
										<div class="timeline-vline"><!-- vertical line --></div>
									</div>
									<!-- /timeline entry -->

									<h2 class="uppercase bold fs-17">3D Rendering and printing</h2>
									<p>In concept, 3D rendering is similar to photography. For instance, a rendering program effectively points a camera towards an object to compose a photo. As such, digital lighting is important to create a detailed and realistic render.
										Over time, a number of different rendering techniques have been developed. Nevertheless, the goal of every render is to capture an image based on how light hits objects, just like in real life.</p>

								</div>
								<!-- /ITEM -->

								<!-- ITEM -->
								<div class="timeline-item timeline-item-bordered">
									<!-- timeline entry -->
									<div class="timeline-entry rounded"><!-- .rounded = entry -->
										4th<span>step</span>
										<div class="timeline-vline"><!-- vertical line --></div>
									</div>
									<!-- /timeline entry -->

									<h2 class="uppercase bold fs-17">Construction</h2>
									<p>An elevator installation including an elevator shaft, a support plate with a drive unit in a first installation position, an elevator car and a counterweight, wherein the support plate with the drive unit, the elevator car and the counterweight are arranged in the elevator shaft and wherein the drive unit is connected with the elevator car and the counterweight by a support cable, comprising: at least one recess for mounting the support plate is formed in a shaft wall of the elevator shaft at each of the first installation position and a second installation position.</p>

									<div class="row">
										<div class="col-md-4 col-sm-4 col-6">
											<img class="img-fluid" src="assets/images/rlogo/redelevator.jpeg" alt="image" />
										</div>

										<div class="col-md-4 col-sm-4 col-6">
											<img class="img-fluid" src="assets/images/rlogo/elevconst2.jpeg" alt="image" />
										</div>

										<div class="col-md-4 col-sm-4 col-12">
											<img class="img-fluid" src="assets/images/rlogo/elevconst.jpeg" alt="image" />
										</div>
									</div>
								</div>
								<!-- /ITEM -->

						
						</div>

					</div>

				</div>
			</section>	

			<!-- PARALLAX -->
			<section class="parallax parallax-2" style="background-image: url('assets/images/rlogo/1-min.jpg');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container text-center">

					<h2 class="font-raleway mb-10">
						<span class="countTo" data-speed="4000">1377</span> clients
					</h2>

					<h3 class="fs-25">They're <span>satisfied</span>. We're <span>happy</span>!</h3>

				</div>

			</section>

			<!-- BUTTON CALLOUT -->
			<a href="index.html#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Did Rocket Elevators convinced you? 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			<a href="quote.html" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Or let us create you a  
					<strong>Quote </strong> for your Elevator needs.
				</span>
			</a>


		</div>

		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>

		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div>

	</body>
</html>