<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Rocket Elevators</title>
		<meta name="description" content="" />
		<meta name="Author" content="Jean-Francois Taillefer" />
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<link rel="shortcut icon" type="image/x-icon" href="assets/images/rlogo/favicon.ico">
		<%# <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" /> %>
		<%# <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> %>
		<%# <link href="assets/css/essentials.css" rel="stylesheet" type="text/css" /> %>
		<%# <link href="assets/css/layout.css" rel="stylesheet" type="text/css" /> %>
		<%# <link href="assets/css/header-1.css" rel="stylesheet" type="text/css" /> %>
		<%# <link href="assets/css/color_scheme/blue.css" rel="stylesheet" type="text/css" id="color_scheme" /> %>
	</head>


	<body class="smoothscroll enable-animation">

		<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
				
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> WHY ROCKET ELEVATORS</h6>
						<p>Rocket Elevators has been in businesss since 1976. Has our company grew, we became leaders in the field due to our innovation and research and developement of new technology </p>
					</div>

					<div class="col-md-4">
						<h6><i class="fa-facheck"></i> RECENTLY VISITED</h6>
						<ul class="list-unstyled">
							<li><a href="https://www.elevatoruk.com/about-us/blog/2019-elevator-awards-winners-announced/"><i class="fa fa-angle-right"></i> 2019 Elevators Awards winners</a></li>
							<li><a href="https://www.buildings.com"><i class="fa fa-angle-right"></i> New elevators technology </a></li>
							<li><a href="https://www.axess2.co.uk/the-3-most-expensive-elevators-in-the-world/"><i class="fa fa-angle-right"></i> Most expensive elevator</a></li>
							<li><a href="https://prodisplay.com/products/transparent-oled-screen/"><i class="fa fa-angle-right"></i> Digital glass display</a></li>
							<li><a href="https://symmetryelevators.com/home-elevators/luxury-redefined/"><i class="fa fa-angle-right"></i> High end elevators on the rise</a></li>
						</ul>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Rocket Elevators</b></li>
							<li><b>Address:</b> 418-725 boulevard lebourgneuf<br /> Quebec city,  Quebec</li>
							<li><b> Canada, G2J 0C4</b></li>
							<li><b>Phone: (418) 555-1234</li>
							<li><b>Email:</b> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle" href="#"><!-- toggle button --></a>

		</div>


		<!-- wrapper -->
		<div id="wrapper">

			
			<div id="header" class="navbar-toggleable-md sticky clearfix">

				<!-- TOP NAV -->
					<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->
						<a class="logo float-left scrollTo" href="#top">
							<img src="assets/images/rlogo/navbarlogo.png" alt="Rocket Elevators logo" />
						</a>

						<!-- 
							Top Nav -->
			
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">
								<ul id="topMain" style="font-size: 20px;" class="nav nav-pills nav-main nav-onepage">
									<!-- HOME -->
									<li class="active">
										<a href="index.html">
											HOME
										</a>
									</li>
									<!-- SERVICES -->
									<li class="dropdown">
										<a class="dropdown-toggle" href="index.html#services">
											SERVICES
										</a>
										<ul class="dropdown-menu">
											<li class="dropdown">
												<a class="dropdown-toggle" href="residential.html">
													RESIDENTIAL
												</a>
											</li>
											<li class="dropdown">
												<a class="dropdown-toggle" href="commercial.html">
													COMMERCIAL
												</a>
											</li>
											<li class="dropdown">
												<a class="dropdown-toggle" href="quote.html">
													REQUEST FOR QUOTE
												</a>
											</li>
										</ul>
									</li>
									<li><!-- PORTFOLIO -->
										<a href="index.html#portfolio">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="index.html#news">
											NEWS
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="index.html#clients">
											CLIENTS
										</a>
									</li>
									<li><!-- CONTACT -->
										<a href="index.html#contact">
											CONTACT
										</a>
									</li>
								</ul>

							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->
			</div>
		
			<a href="" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Why choose Rocket Elevators for your corporate offices ?</br> Have a detailed look how we operate. 
					
				</span>
			</a>

			<section>
				<div class="container">

					<div class="box-inner">
					
						<div class="timeline"><!-- .timeline-inverse = right position [left on RTL] -->

								<!-- ITEM -->
								<div class="timeline-item timeline-item-bordered">
									<!-- timeline entry -->
									<div class="timeline-entry rounded"><!-- .rounded = entry -->
										1st<span>step</span>
										<div class="timeline-vline"><!-- vertical line --></div>
									</div>
									<!-- /timeline entry -->

									<h2 class="uppercase bold fs-17">Evaluation of project</h2>
									<p>Meet our engineers and consultant, our team is dedicated to make your project come to life. We use new and innovating technology everyday. We can also refurbish old elevators with equipment keep their older looks.</p>
									<div class="row">
										<div class="col-md-6 col-sm-6">
										
											<label class="block">
												<span class="float-right">15%</span> 
												Evalution of project
											</label>
											<div class="progress progress-xxs">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%; min-width: 2em;"></div>
											</div>

										</div>
										<div class="col-md-6 col-sm-6">

											<label class="block">
												<span class="float-right">30%</span> 
												Design and Planning
											</label>
											<div class="progress progress-xxs">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%; min-width: 2em;"></div>
											</div>

										</div>
										<div class="col-md-6 col-sm-6">

											<label class="block">
												<span class="float-right">10%</span> 
												3D Rendering and printing
											</HPlabel>
											<div class="progress progress-xxs">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%; min-width: 2em;"></div>
											</div>

										</div>
										<div class="col-md-6 col-sm-6">

											<label class="block">
												<span class="float-right">45%</span> 
												Construction
											</label>
											<div class="progress progress-xxs">
												<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%; min-width: 2em;"></div>
											</div>

										</div>
									</div>

								</div>
								<!-- /ITEM -->

								<!-- ITEM -->
								<div class="timeline-item timeline-item-bordered">
									<!-- timeline entry -->
									<div class="timeline-entry rounded"><!-- .rounded = entry -->
										2nd<span>atep</span>
										<div class="timeline-vline"><!-- vertical line --></div>
									</div>
									<!-- /timeline entry -->

									<h2 class="uppercase bold fs-17">Design and Planning</h2>
									<p>In this part of your project, you'll be working side by side with our architect and engineers. Through the design phase many option will be offered in terms of styles and looks for your elevator. Afterwards the engineeers will work out the details of the mechanics need and so on..</p>

								</div>
								<!-- /ITEM -->

								<!-- ITEM -->
								<div class="timeline-item timeline-item-bordered">
									<!-- timeline entry -->
									<div class="timeline-entry rounded"><!-- .rounded = entry -->
										3rd<span>step</span>
										<div class="timeline-vline"><!-- vertical line --></div>
									</div>
									<!-- /timeline entry -->

									<h2 class="uppercase bold fs-17">3D Rendering and printing</h2>
									<p>In concept, 3D rendering is similar to photography. For instance, a rendering program effectively points a camera towards an object to compose a photo. As such, digital lighting is important to create a detailed and realistic render.
										Over time, a number of different rendering techniques have been developed. Nevertheless, the goal of every render is to capture an image based on how light hits objects, just like in real life.</p>

								</div>
								<!-- /ITEM -->

								<!-- ITEM -->
								<div class="timeline-item timeline-item-bordered">
									<!-- timeline entry -->
									<div class="timeline-entry rounded"><!-- .rounded = entry -->
										4th<span>step</span>
										<div class="timeline-vline"><!-- vertical line --></div>
									</div>
									<!-- /timeline entry -->

									<h2 class="uppercase bold fs-17">Construction</h2>
									<p>An elevator installation including an elevator shaft, a support plate with a drive unit in a first installation position, an elevator car and a counterweight, wherein the support plate with the drive unit, the elevator car and the counterweight are arranged in the elevator shaft and wherein the drive unit is connected with the elevator car and the counterweight by a support cable, comprising: at least one recess for mounting the support plate is formed in a shaft wall of the elevator shaft at each of the first installation position and a second installation position.</p>

									<div class="row">
										<div class="col-md-4 col-sm-4 col-6">
											<img class="img-fluid" src="assets/images/rlogo/redelevator.jpeg" alt="image" />
										</div>

										<div class="col-md-4 col-sm-4 col-6">
											<img class="img-fluid" src="assets/images/rlogo/elevconst2.jpeg" alt="image" />
										</div>

										<div class="col-md-4 col-sm-4 col-12">
											<img class="img-fluid" src="assets/images/rlogo/elevconst.jpeg" alt="image" />
										</div>
									</div>
								</div>
								<!-- /ITEM -->

						
						</div>

					</div>

				</div>
			</section>	

			<!-- PARALLAX -->
			<section class="parallax parallax-2" style="background-image: url('assets/images/rlogo/1-min.jpg');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container text-center">

					<h2 class="font-raleway mb-10">
						<span class="countTo" data-speed="4000">1377</span> clients
					</h2>

					<h3 class="fs-25">They're <span>satisfied</span>. We're <span>happy</span>!</h3>

				</div>

			</section>

			<!-- BUTTON CALLOUT -->
			<a href="index.html#contact" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Did Rocket Elevators convinced you? 
					<strong>Contact us &raquo;</strong>
				</span>
			</a>
			<a href="quote.html" class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-0 p-40">
				<span class="font-lato fs-30">
					Or let us create you a  
					<strong>Quote </strong> for your Elevator needs.
				</span>
			</a>

			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">
					<div class="row">						
						<div class="col-md-3">
							<img class="footer-logo" src="assets/images/rlogo/footerlogofinal.png" alt="" />

							<!-- /Contact Address -->
							<address>	
								<ul class="list-unstyled">
									<li class="footer-sprite address">
										Rocket elevators<br>
										418-725 boulevard lebourgneuf<br>
										Quebec city, Quebec<br>
										Canada, G2J 0C4<br>
									</li>
									<li class="footer-sprite phone">
										Phone: (418) 555-1234
									</li>
									<li class="footer-sprite email">
										info@codeboxx.biz
									</li>
								</ul>
							</address>
						</div>
						
						<!-- Latest Blog Post -->
						<div class="col-md-3">	
							<h4 class="letter-spacing-1">LATEST NEWS</h4>
							<ul class="footer-posts list-unstyled">
								<li>
									<a href="https://www.buildings.com/articles/27517/3-rising-trends-watch-elevator-technology">New technology coming for small elevators using only one shaft for 2 elevators...</a>
									<small>29 June 2020</small>
								</li>
								<li>
									<a href="https://www.theguardian.com/cities/2014/aug/01/new-lift-technology-ultrarope-cities">Annual Elevators convention happening in Aspen Colorado this October get your tickets now</a>
									<small>20 June 2020</small>
								</li>
								<li>
									<a href="https://www.popularmechanics.com/technology/infrastructure/a20986/the-hidden-science-of-elevators/">Exterior motors now proven in all weather. see articles in Popular Mechanics</a>
									<small>17 June 2020</small>
								</li>
							</ul>
						</div>

						<div class="col-md-2">

							<!-- Links -->
							<h4 class="letter-spacing-1">Explore Rocket elevators</h4>
							<ul class="footer-links list-unstyled">
								<li><a href="index.html">Home</a></li>
								<li><a href="index.html#services">Services</a></li>
								<li><a href="index.html#portfolio">Portfolio</a></li>
								<li><a href="index.html#news">News</a></li>
								<li><a href="index.html#clients">Clients</a></li>
								<li><a href="index.html#contact">Contact</a></li>
								
							</ul>
						</div>

						<div class="col-md-4">

							<!-- Newsletter Form -->
							
							<h3 class="letter-spacing-1">WHY US?</h3>
							<p>We have the conviction that we create the most innovative and reliable products on the market.</br> Contact us today for any questions you might have.</p>
							<h4 class="letter-spacing-1">KEEP IN TOUCH</h4>
							<p>Subscribe to Our Newsletter to get Important News &amp; Offers</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button  onclick="myFunction()" type="submit" class="btn btn-primary">Subscribe</button>
										<script>
											function myFunction() {
											alert("Thank for subscribing");
											window.location.href = "index.html";
											}
										</script>
									</span>
								</div>
							</form>
										
							<!-- /Newsletter Form -->

							<!-- Social Icons -->
							<div class="mt-20">
								<a href="https://www.facebook.com" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip" data-placement="top" title="Facebook">

									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="https://www.twitter.com" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip" data-placement="top" title="Twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="https://www.google.com" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip" data-placement="top" title="Google plus">
									<i class="icon-gplus"></i>
									<i class="icon-gplus"></i>
								</a>

								<a href="https://www.linkedin.com" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>
								<a href="https://www.github.com" class="social-icon social-icon-border social-github float-left" data-toggle="tooltip" data-placement="top" title="Github">
									<i class="icon-github"></i>
									<i class="icon-github"></i>
								</a>
								<a href="https://www.evernote.com/" class="social-icon social-icon-border social-evernote float-left" data-toggle="tooltip" data-placement="top" title="Evernote">
									<i class="icon-evernote"></i>
									<i class="icon-evernote"></i>
								</a>
								<a href="https://www.stackoverflow.com" class="social-icon social-icon-border social-stackoverflow float-left" data-toggle="tooltip" data-placement="top" title="Stack Overflow">
									<i class="icon-stackoverflow"></i>
									<i class="icon-stackoverflow"></i>
								</a>	
							</div>
							<!-- /Social Icons -->

						</div>

					</div>

				</div>

				
			</footer>
		</div>

		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>

		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div>


		<!-- JAVASCRIPT FILES -->
		<script>var plugin_path = 'assets/plugins/';</script>
		<script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>

		<script src="assets/js/scripts.js"></script>
		
		<!-- STYLESWITCHER - REMOVE -->
		
		<!-- PAGE LEVEL SCRIPTS [cart js] -->
		<script>
			jQuery(window).on('load', function() {

				/**
					Chart.js
					http://www.chartjs.org/
				**/
				loadScript(plugin_path + 'chart.chartjs/Chart.min.js', function() {

					// barChartCanvas
					var barChartCanvas = {
						labels:["January","February","March","April","May","June","July"],
						datasets:[
							{
								fillColor : "rgba(220,220,220,0.5)",
								strokeColor : "rgba(220,220,220,0.8)",
								highlightFill: "rgba(220,220,220,0.75)",
								highlightStroke: "rgba(220,220,220,1)",
								data : [65,59,90,81,56,55,50]
							}
						]
					};

					var ctx = document.getElementById("barChartCanvas").getContext("2d");
					new Chart(ctx).Bar(barChartCanvas);


				});

			});
		</script>

	</body>
</html>