<!-- residential page content-->
			<section id="overview">
                <div class="container text-center">
            
                    <div class="row text-left">
            
                        <div class="col-sm-8">
                            <img src="assets/images/rlogo/residential.jpg"  alt="product image" />
                        </div>
            
                        <div class="col-sm-4">
                            <h3 class="fw-300">Let us take care of your <span>elevators</span> need</h3>
                        
                            <p>from design, conception to construction we will be with you everyday</p>
                            <p>servicing old or new elevators 24/7 </p>
                            
                            <hr />
            
                            <ul class="list-unstyled list-icons">
                                <li><i class="fa fa-check"></i> certifed interior and exterior elevators</li>
                                <li><i class="fa fa-check"></i> small or big residential contracts</li>
                                <li><i class="fa fa-check"></i> corporate division </li>
                                <li><i class="fa fa-check"></i> best customer reviews</li>
                                <li><i class="fa fa-check"></i> join our community chain mail</li>
								<li><i class="fa fa-check"></i> outsanding warranty on all of our products</li>
							</ul>
            
                        </div>
                    </div>
            
                </div>
            </section>
			<!-- residential page content-->

			<!-- CARROUSEL-->
				<div class="text-center">
					<div class="owl-carousel owl-padding-3 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items": "5", "autoPlay": true, "navigation": true, "pagination": false}'>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news1.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/port2.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news2.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news4.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news3.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news5.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news6.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news7.jpg" alt="">
						</a>
					</div>
				</div>
			<!-- CARROUSEL-->

			

		</div>

		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>

		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->

		</script>
		

	</body>
</html>