<div class="container">
        <!-- REVOLUTION SLIDER -->
        <div class="slider fullwidthbanner-container roundedcorners mb-100">
            <div class="fullwidthbanner" data-height="300" data-shadow="2" data-navigationStyle="">
                <ul class="hide">
                    <!-- SLIDE -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="100" data-saveperformance=""
                        data-title="Slide">

                        <img src="/assets/video/elevator4.jpg"
                            data-lazyload="/assets/video/elevator4.jpg" alt="image"
                            data-bgposition="center center" data-bgfit="cover" data-bgrepeat="repeat">
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- /REVOLUTION SLIDER -->
    <!-- Description -->
    <div class="container">
        <div class="text-center">
            <p>
                Rocket Elevators offer a range of unique and compact residential elevators which can be installed
                virtually anywhere in a Canadian home.
                From Toronto to Montreal and Winnipeg to Vancouver, Rocket Elevators have been helping to make
                people’s lives across the country easier and more comfortable
                by providing them with a simple floor-to-floor accessibility solution.<br>
                The Rocket Elevators Home Elevator is the only home lift of its kind to be available in Canada and
                the perfect alternative to a stairlift allowing you to keep the stairs
                in your property untouched. Our selection of residential elevators are also much more appealing than
                a conventional in-home elevator which can be costly
                and complicated to install.
            </p>
            <div class="btn btn-primary">
                <a href="/quotes">
                    <!-- /word rotator -->
                    <span class="word-rotator" data-delay="2000">
                        <div style="color: white;">
                            <span class="items">
                                <span>Get Quote</span>
                                <span>Apply Now</span>
                            </span>
                        </div>
                    </span><!-- /word rotator -->
                    <i class="glyphicon glyphicon-menu-right fs-12" style="color: white;"></i>
                </a>
            </div>
        </div>

    </div>
    <!-- Description -->
</div>

			<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<p class="lead font-lato"></p>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Drop us a line or just say <strong><em>Hello!</em></strong></h3>

							<form enctype="multipart/form-data">
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
											<div class="col-md-4">
												<label for="contact:name">Full Name *</label>
												<input id="name" required type="text" value="" class="form-control" name="contact[name][required]">
											</div>
											<div class="col-md-4">
												<label for="contact:email">E-mail Address *</label>
												<input  id="email" required type="email" value="" class="form-control" name="contact[email][required]">
											</div>
											<div class="col-md-4">
												<label for="contact:phone">Phone</label>
												<input id="phone" type="text" value="" class="form-control" name="contact[phone]">
											</div>
									</div>
									<div class="row">
											<div class="col-md-4">
												<label for="contact:company_name">Company Name</label>
												<input id="cie_name" required type="text" value="" class="form-control" name="contact[subject]">
											</div>
											<div class="col-md-4">
												<label for="contact:project_name">Project Name</label>
												<input id="project_name" required type="text" value="" class="form-control" name="contact[subject]">
											</div>
											<div class="col-md-4">
												<label for="contact:department">Department</label>
												<select id="department" class="form-control pointer" name="contact[department]">
													<option value="">--- Select ---</option>
													<option value="Marketing">Residential</option>
													<option value="Webdesign">Commercial</option>
													<option value="Architecture">Other</option>
												</select>
											</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<label for="contact:project_description">Project Description</label>
											<textarea id="project_description" required maxlength="2500" rows="2" class="form-control" name="contact[project_description]"></textarea>
										</div>
									</div>

									<div class="row">
											<div class="col-md-12">
												<label for="contact:message">Message *</label>
												<textarea id="message"required maxlength="10000" rows="4" class="form-control" name="contact[message]"></textarea>
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<label for="contactattachment">File Attachment</label>

												<!-- custom file upload -->
												<input id="attachment" class="custom-file-upload" type="file" id="file" name="contact[attachment]"data-btn-text="Select a File" />
												<small class="text-muted block">Max file size: 10Mb (zip/pdf/jpg/png)</small>

											</div>
									</div>

								</fieldset>

								<div class="row">
									<div class="col-md-12">
										<button  id="submit" type="submit" class="btn btn-primary"><i class="fa fa-check"></i> SEND MESSAGE</button>
									</div>
								</div>
							</form>

						</div>
						<!-- /FORM -->


						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>

							<div id="map2" class="h-400 "></div>
								
							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 4468 Wellington St Suite 204, Verdun, Québec H4G 1W5</span>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1800-555-1234">(418) 555-1234</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:info@codeboxx.biz">info@codeboxx.biz</a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->