<!-- residential page content-->
			<section id="overview">
                <div class="container text-center">
            
                    <div class="row text-left">
            
                        <div class="col-sm-8">
                            <img src="assets/images/rlogo/residential.jpg"  alt="product image" />
                        </div>
            
                        <div class="col-sm-4">
                            <h3 class="fw-300">Let us take care of your <span>elevators</span> need</h3>
                        
                            <p>from design, conception to construction we will be with you everyday</p>
                            <p>servicing old or new elevators 24/7 </p>
                            
                            <hr />
            
                            <ul class="list-unstyled list-icons">
                                <li><i class="fa fa-check"></i> certifed interior and exterior elevators</li>
                                <li><i class="fa fa-check"></i> small or big residential contracts</li>
                                <li><i class="fa fa-check"></i> corporate division </li>
                                <li><i class="fa fa-check"></i> best customer reviews</li>
                                <li><i class="fa fa-check"></i> join our community chain mail</li>
								<li><i class="fa fa-check"></i> outsanding warranty on all of our products</li>
							</ul>
            
                        </div>
                    </div>
            
                </div>
            </section>
			<!-- residential page content-->

			<!-- CARROUSEL-->
				<div class="text-center">
					<div class="owl-carousel owl-padding-3 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items": "5", "autoPlay": true, "navigation": true, "pagination": false}'>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news1.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/port2.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news2.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news4.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news3.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news5.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news6.jpg" alt="">
						</a>
						<a class="img-hover" href="#">
							<img class="img-fluid" src="assets/images/rlogo/news7.jpg" alt="">
						</a>
					</div>
				</div>
			<!-- CARROUSEL-->

			# <!-- FOOTER -->
			# <footer id="footer">
			# 	<div class="container">
			# 		<div class="row">						
			# 			<div class="col-md-3">
			# 				<img class="footer-logo" src="assets/images/rlogo/footerlogofinal.png" alt="" />

			# 				<!-- /Contact Address -->
			# 				<address>	
			# 					<ul class="list-unstyled">
			# 						<li class="footer-sprite address">
			# 							Rocket elevators<br>
			# 							418-725 boulevard lebourgneuf<br>
			# 							Quebec city, Quebec<br>
			# 							Canada, G2J 0C4<br>
			# 						</li>
			# 						<li class="footer-sprite phone">
			# 							Phone: (418) 555-1234
			# 						</li>
			# 						<li class="footer-sprite email">
			# 							info@codeboxx.biz
			# 						</li>
			# 					</ul>
			# 				</address>
			# 			</div>
						
			# 			<!-- Latest Blog Post -->
			# 			<div class="col-md-3">	
			# 				<h4 class="letter-spacing-1">LATEST NEWS</h4>
			# 				<ul class="footer-posts list-unstyled">
			# 					<li>
			# 						<a href="https://www.buildings.com/articles/27517/3-rising-trends-watch-elevator-technology">New technology coming for small elevators using only one shaft for 2 elevators...</a>
			# 						<small>29 June 2020</small>
			# 					</li>
			# 					<li>
			# 						<a href="https://www.theguardian.com/cities/2014/aug/01/new-lift-technology-ultrarope-cities">Annual Elevators convention happening in Aspen Colorado this October get your tickets now</a>
			# 						<small>20 June 2020</small>
			# 					</li>
			# 					<li>
			# 						<a href="https://www.popularmechanics.com/technology/infrastructure/a20986/the-hidden-science-of-elevators/">Exterior motors now proven in all weather. see articles in Popular Mechanics</a>
			# 						<small>17 June 2020</small>
			# 					</li>
			# 				</ul>
			# 			</div>

			# 			<div class="col-md-2">

			# 				<!-- Links -->
			# 				<h4 class="letter-spacing-1">Explore Rocket elevators</h4>
			# 				<ul class="footer-links list-unstyled">
			# 					<li><a href="index.html">Home</a></li>
			# 					<li><a href="index.html#services">Services</a></li>
			# 					<li><a href="index.html#portfolio">Portfolio</a></li>
			# 					<li><a href="index.html#news">News</a></li>
			# 					<li><a href="index.html#clients">Clients</a></li>
			# 					<li><a href="index.html#contact">Contact</a></li>
								
			# 				</ul>
			# 			</div>

			# 			<div class="col-md-4">

			# 				<!-- Newsletter Form -->
							
			# 				<h3 class="letter-spacing-1">WHY US?</h3>
			# 				<p>We have the conviction that we create the most innovative and reliable products on the market.</br> Contact us today for any questions you might have.</p>
			# 				<h4 class="letter-spacing-1">KEEP IN TOUCH</h4>
			# 				<p>Subscribe to Our Newsletter to get Important News &amp; Offers</p>

			# 				<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
			# 					<div class="input-group">
			# 						<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
			# 						<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
			# 						<span class="input-group-btn">
			# 							<button  onclick="myFunction()" type="submit" class="btn btn-primary">Subscribe</button>
			# 							<script>
			# 								function myFunction() {
			# 								alert("Thank for subscribing");
			# 								window.location.href = "index.html";
			# 								}
			# 							</script>
			# 						</span>
			# 					</div>
			# 				</form>

			# 				<!-- Social Icons -->
			# 				<div class="mt-20">
			# 					<a href="https://www.facebook.com" class="social-icon social-icon-border social-facebook float-left" data-toggle="tooltip" data-placement="top" title="Facebook">

			# 						<i class="icon-facebook"></i>
			# 						<i class="icon-facebook"></i>
			# 					</a>

			# 					<a href="https://www.twitter.com" class="social-icon social-icon-border social-twitter float-left" data-toggle="tooltip" data-placement="top" title="Twitter">
			# 						<i class="icon-twitter"></i>
			# 						<i class="icon-twitter"></i>
			# 					</a>

			# 					<a href="https://www.google.com" class="social-icon social-icon-border social-gplus float-left" data-toggle="tooltip" data-placement="top" title="Google plus">
			# 						<i class="icon-gplus"></i>
			# 						<i class="icon-gplus"></i>
			# 					</a>

			# 					<a href="https://www.linkedin.com" class="social-icon social-icon-border social-linkedin float-left" data-toggle="tooltip" data-placement="top" title="Linkedin">
			# 						<i class="icon-linkedin"></i>
			# 						<i class="icon-linkedin"></i>
			# 					</a>
			# 					<a href="https://www.github.com" class="social-icon social-icon-border social-github float-left" data-toggle="tooltip" data-placement="top" title="Github">
			# 						<i class="icon-github"></i>
			# 						<i class="icon-github"></i>
			# 					</a>
			# 					<a href="https://www.evernote.com/" class="social-icon social-icon-border social-evernote float-left" data-toggle="tooltip" data-placement="top" title="Evernote">
			# 						<i class="icon-evernote"></i>
			# 						<i class="icon-evernote"></i>
			# 					</a>
			# 					<a href="https://www.stackoverflow.com" class="social-icon social-icon-border social-stackoverflow float-left" data-toggle="tooltip" data-placement="top" title="Stack Overflow">
			# 						<i class="icon-stackoverflow"></i>
			# 						<i class="icon-stackoverflow"></i>
			# 					</a>	
			# 				</div>
							

			# 			</div>

			# 		</div>

			# 	</div>

				
			# </footer>

		</div>

		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>

		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->

		# <!-- JAVASCRIPT FILES -->
		# <script>var plugin_path = 'assets/plugins/';</script>
		# <script src="assets/plugins/jquery/jquery-3.3.1.min.js"></script>
		# <script src="assets/js/scripts.js"></script>
	
		# <!-- PAGELEVEL SCRIPTS -->
		# <script src="assets/js/contact.js"></script>

		</script>
		

	</body>
</html>